.header__lang-link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
}


.header__lang-link:hover {
    opacity: 0.5;
    text-decoration-line: underline;
}
