.places {
    max-width: 76.87%;
    margin-top: 92px;
}


@media screen and (max-width: 1024px) {
    .places {
        max-width: 90.60%;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 93.75%;
    }
}

@media screen and (max-width: 425px) {
    .places {
        max-width: 97%;
    }
}

@media screen and (max-width: 375px) {
    .places {
        max-width: 100%;
    }
}
