.lead {
    font-family:'Inter', Arial, sans-serif;
    max-width: 76.80%;
    margin-top: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width: 1152px){
    .lead {
        max-width: 80%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 1024px){
    .lead {
        max-width: 90.7%;
    }
}

@media screen and (max-width: 768px){
    .lead {
        max-width: 100%;
    }
}

