.lead {
    width: 76.80%;
    margin-top: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
}



@media screen and (max-width: 1152px){
    .lead {
        max-width: 80%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 1024px){
    .lead {
        min-width: 90.7%;
    }
}

@media screen and (max-width: 768px){
    .lead {
        min-width: 100%;
    }
}

@media screen and (max-width: 425px){
    .lead {
        min-width: 100%;
    }
}

@media screen and (max-width: 375px){
    .lead {
        min-width: 100%;
    }
}

@media screen and (max-width: 320px){
    .lead {
        min-width: 100%;
    }
}
