.footer__link {
    text-decoration: none;
    margin-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__link-list li:last-of-type .footer__link {
    margin-right: 0;
}


.footer__link:hover {
    opacity: 0.8;
}



@media screen and (max-width: 425px) {
    .footer__link {
        margin-right: 0;
        font-size: 24px;
        line-height: 24px;
    }
}