.lead__title {
    margin: 0 0 32px 0;
    max-width: 100%;
    align-self: center;
    font-size: 96px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 560px){
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 65px;
        line-height: 60px;
        text-align: center;
    }
}


@media screen and (max-width: 425px){
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 44px;
        text-align: center;
    }
}

@media screen and (max-width: 375px){
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 46px;
        line-height: 44px;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
}