.intro {
    font-family:'Inter', Arial, sans-serif;
    width: 54%;
    align-self: flex-start;
    margin: 92px 0 0 148px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 67.40%;
        margin: 92px 0 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93.62%;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 375px){
    .intro {
        width: 94%;
        margin: 68px auto 0;
    }
}
