.place {
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 668px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        row-gap: 32px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        row-gap: 32px;
    }
}

@media screen and (max-width: 375px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        row-gap: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        row-gap: 32px;
    }
}